{:builds
 {:hello {:target :browser
          :output-dir "examples/hello/resources/public/js"
          :asset-path "/js"
          :modules {:main {:init-fn hello.client/init}}}
  :todomvc {:target :browser
            :output-dir "examples/todomvc/resources/public/js"
            :asset-path "/js"
            :modules {:main {:init-fn todomvc.client/init}}}
  :sqlite {:target :browser
           :output-dir "examples/sqlite-table/resources/public/js"
           :asset-path "/js"
           :modules {:main {:init-fn sqlite-table.client/init}}}
  :local {:target :browser
          :output-dir "examples/local/resources/public/js"
          :asset-path "/js"
          :compiler-options {:hypercurve/local-server true}
          :modules {:shared {:entries [local.app]}
                    :main {:init-fn local.main/init :depends-on #{:shared}}
                    :worker {:init-fn local.worker/init :depends-on #{:shared} :web-worker true}}}
  :showcase {:target :browser
             :output-dir "examples/showcase/resources/public/js"
             :asset-path "/js"
             :modules {:main {:init-fn showcase.client/init}}}}}
